<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 bg-dark d-flex flex-column" style="height: 92vh;width: fit-content;">
            <a routerLink="/home" class="mt-3 text-decoration-none text-light fe-border ">Home</a>
            <a routerLink="/home" class="mt-3 text-decoration-none text-light fe-border ">Employee</a>
            <button class="btn btn-link mt-auto">Logout</button>
        </div>
        <div class="col-lg-10">

            <div class="p-5 w-100 d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
                <h1>Edit Employee Details</h1>
                <form action="" #editForm="ngForm" class="border rounded p-3">
                    <div class="form-floating mb-3">
                        <input type="text" name="eid" required [(ngModel)]="user.empId" class="form-control" id="floatingId" #empId="ngModel" placeholder="Employee id">
                        <label for="floatingId">Employee Id</label>
                        <div class="text-danger" *ngIf="empId.invalid && empId.touched">
                            *Invalid Id
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="username" [(ngModel)]="user.username" required #username="ngModel"  class="form-control" id="username" placeholder="Employee name">
                        <label for="username">Username</label>
                        <div class="text-danger" *ngIf="username.invalid && username.touched">
                            *Invalid username
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control"  email required #email="ngModel" name="email" [(ngModel)]="user.email" id="email" placeholder="Employee id">
                        <label for="email">Email address</label>
                        <div class="text-danger" *ngIf="email.invalid && email.touched">
                            *Invalid email
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <select name="" id="statusselect" class="form-control" required #status = "ngModel" name="status" [(ngModel)]="user.status">
                            <option value="" disabled selected hidden></option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <label for="statusselect">status</label>
                        <div class="text-danger" *ngIf="status.invalid && status.touched">
                            *Invalid status
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-success" [disabled]="editForm.invalid" (click)="onUpdateEmployee()">Update</button>
                        <button class="btn btn-warning ms-3">Cancel</button>

                    </div>
                </form>
            
            </div>

        </div>


</div>

