<div class="container-fluid">
  <div class="row">
      <div class="col-lg-2 bg-dark d-flex flex-column" style="height: 92vh; width: fit-content;">
          <a routerLink="/home" class="mt3 text-decoration-none text-light fe-bolder">Home</a>
          <a routerLink="/employee" class="mt3 text-decoration-none text-light fe-bolder">Employee</a>
          <button class="btn btn-link mt-auto">LogOut</button>

      </div>
      <div class="col-lg-10">
          <div class="p-5 w-100 d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">
              <h3>Add Employee Details</h3>
              <form action="" class="border rounded p-3 w-50" #empForm="ngForm" (ngSubmit)="getAddedData()">
                  <div class="form-floating mb-3">
                      <input type="number" class="form-control" required [(ngModel)]="user.empId" name="id" id="floatingId" placeholder="Employee Id" #employeeId="ngModel">
                      <label for="floatingId">Emaployee Id</label>
                  </div>
                  <div class="text-danger" *ngIf="employeeId.invalid && employeeId.touched">
                      *Invalid Id
                  </div>
                  <div class="form-floating mb-3">

                      <input type="text" class="form-control" required pattern="[a-z0-9]*" id="floatingInput" [(ngModel)]="user.username" name="username" placeholder="username" #empUsername="ngModel">
                      <label for="floatingInput">Username</label>
                  </div>
                  <div class="text-danger" *ngIf="empUsername.invalid && empUsername.touched">
                      *Invalid Username
                  </div>
                  <div class="form-floating mb-3">

                      <input type="email" class="form-control" id="floatingInputEmail" required email [(ngModel)]="user.email" name="email" placeholder="name@example.com" #empEmail="ngModel">
                      <label for="floatingInputEmail">Email address</label>
                  </div>
                  <div class="text-danger" *ngIf="empEmail.invalid && empEmail.touched">
                      *Invalid Email
                  </div>
                  <div class="form-floating mb-3">
                      <select name="" id="statusselect" required class="form-control " [(ngModel)]="user.status" name="status" #empStatus="ngModel">
                          <option value="" disabled selected hidden></option>
                          <option value="Active">Active</option>
                          <option value="Inactive">Inactive</option>
                      </select>
                      <label for="statusselect">Status</label>

                  </div>
                  <div class="text-danger" *ngIf="empStatus.invalid && empStatus.touched">
                      *Invalid Status
                  </div>
                  <div class="text-center mt-3">
                      <button type="submit" [disabled]="empForm.invalid"  class="btn btn-success">Add</button>
                      <button type="button" class="btn btn-info ms-3">Cancel</button>

                  </div>
              </form>

          </div>

      </div>
  </div>

</div>