<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 bg-dark d-flex flex-column" style="height: 92vh;width: fit-content;">
            <a routerLink="/home" class="mt-3 text-decoration-none text-light fe-border ">Home</a>
            <a routerLink="/employee" class="mt-3 text-decoration-none text-light fe-border ">Employee</a>
            <button class="btn btn-link mt-auto" (click)="logOut()">Logout</button>

        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-center align-items-center rounded " id="ban1">
                <h1>Welcome {{adminUsername}}</h1>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <app-calendar></app-calendar>




                </div>
                <div class="col-lg-6">
                    <app-chart></app-chart>

                </div>
            </div>

        </div>

        <div class="col-lg-3">
            <app-update-admin (adminChangeEvent)="getAdminUsername($event)"></app-update-admin>
            <div class="mt-2 border border-shadow" style="height: 150px;">
                employee count:{{count}}
            </div>
        </div>

    </div>

</div>