#ban1{
    background-image: url('https://th.bing.com/th/id/OIP.xS0toV2Djt-tG5j-7aM7EAHaD5?rs=1&pid=ImgDetMain');
    height: 100px;
    color: white;
    font-weight: 100;
    background-repeat:no-repeat ;
    background-size: 100%;

}